{% extends 'index.html' %}
{% block title %}Notify{% endblock %}
{% block content %}

{% if user.is_authenticated %}
  <div class="nav-scroller bg-body d-flex justify-content-center align-items-center mb-3">
    <nav class="nav" aria-label="Secondary navigation">
      <a class="btn btn-primary rounded-pill me-3" aria-current="page" href="#">
        All Notes
        <span class="badge text-bg-light rounded-pill align-text-bottom">12</span>
      </a>
      <a class="btn btn-primary rounded-pill px-3" href="#">
        Pinned
        <span class="badge text-bg-light rounded-pill align-text-bottom">4</span>
      </a>
    </nav>
  </div>
{% endif %}

<div class="content-wrapper">
<div class="row">
  <div class="col">
    <div class="d-flex flex-grow-1 flex-column">
      <div class="d-flex justify-content-start align-items-center lead fs-2"><p id="greet" class="mx-2"></p><p>{{user.username}}!</p></div>
      <small id="time" class="text-muted"></small>
      <hr>
      {% if user.notes %}
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4">
      {% for note in notes.items %}
      <div class="col">
        <div class="card h-100 w-100 py-3 overflow-hidden rounded-4" style="background-color: #ffff88;">
          <div class="card-body d-flex flex-column justify-content-between h-100 p-4 pb-3 text-dark">
            <h5 class="card-title lh-1 fw-bold">{{ note.text[:15]}}...</h5>
            <small>{{ note.date.strftime('%Y-%m-%d') }}</small>
          </div>
          <div class="card-footer bg-transparent border-0">
            <ul class="d-flex list-unstyled justify-content-center mb-0">
              <li class="me-3">
                <img src="{{url_for('static', filename = 'profile_pics/' + note.author.image_file)}}" class="rounded-circle border border-white" width="32" height="32">
              </li>
              <li class="d-flex align-items-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{ note.id }}" class="btn-primary btn-sm btn">Open</button>
                <div class="modal fade" id="exampleModal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{ note.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="noteModalLabel{{ note.id }}">Note Text</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>{{ note.text }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary"><a href="{{url_for('notes.note', note_id=note.id)}}" style="text-decoration: none; color: white">Open</a></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="d-flex align-items-center ms-3">
                <button type="button" data-bs-toggle="modal" data-bs-target="#editModal{{ note.id }}" class="btn-primary btn-sm btn">Edit</button>
                <div class="modal fade" id="editModal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{ note.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="noteModalLabel{{ note.id }}">Note Text</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="post" action="{{url_for('notes.edit_note')}}">
                          <div class="form-group">
                            <textarea name="edit_note" id="edit_note" class="form-control w-100 my-4" placeholder="Reorganize your thoughts" style="height: 100px;">{{note.text}}</textarea>
                          </div>
                          <input type="hidden" name="noteId" value="{{note.id}}">
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="d-flex align-items-center ms-3">
                <button type="button" class="btn-danger btn-sm btn" aria-label="Close" data-bs-toggle="modal" data-bs-target="#deleteModal{{ note.id }}">Delete</button>
                <div class="modal fade" id="deleteModal{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{note.id}}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="noteModalLabel{{ note.id }}">Delete Note?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p><span class="fw-bold">Delete the note: </span>{{note.text[:20]}}...</p>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
                          <button type="button" class="btn-danger btn-sm btn" aria-label="Close" onClick="deleteNote({{note.id}})">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
              </li>
            </ul>
          </div>
        </div>
      </div>
        {% endfor %}
      {% else %}
      <h1>No notes here</h1>
      {% endif %}
    </div>

      <!-- Display pagination links -->
      <div class="col">
        <div class="pagination">
          {% if notes.has_prev %}
            <a href="{{ url_for('main.home', page=notes.prev_num) }}" class="page-link">&laquo; Previous</a>
          {% else %}
            <span class="btn btn-outline-info page-link disabled">&laquo; Previous</span>
          {% endif %}
  
          {% for num in notes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if num %}
              {% if notes.page == num %}
                <span class="page-link active">{{ num }}</span>
              {% else %}
                <a href="{{ url_for('main.home', page=num) }}" class="btn btn-outline-info page-link">{{ num }}</a>
              {% endif %}
            {% else %}
              <span class="btn btn-outline-info page-link">...</span>
            {% endif %}
          {% endfor %}
  
          {% if notes.has_next %}
            <a href="{{ url_for('main.home', page=notes.next_num) }}" class="btn btn-outline-info page-link">Next &raquo;</a>
          {% else %}
            <span class="btn btn-outline-info page-link disabled">Next &raquo;</span>
          {% endif %}
        </div>
      <div>
    </div>
  </div>
</div>
</div>
{% endblock content %}