{% extends 'index.html'%}
{% block title %}Notify{% endblock %}
{% block content %}
<div class="row">
    <div class="d-flex justify-content-start align-items-center lead fs-2"><p id="greet" class="mx-2"></p><p>{{user.username}}!</p></div>
    <small id="time" class="text-muted"></small>
    <div class="col-12 mb-3">
        <form method="post" action="/">
            <div class="form-group">
                <textarea name="note" id="note" class="form-control w-100 my-4" placeholder="Organize your thoughts" style="height: 100px;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg text-nowrap w-100 mb-3">Add Note<i class="bi bi-sticky-fill mx-2"></i></button>
            </div>            
        </form>
    </div>
    <hr>
    {% if user.notes %}
    <table class="table table-striped">
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Note</th>
          <th></th>
          <th></th>
        </tr>
        {% for note in notes.items %}
          <tr>
            <td><img class="rounded-circle article-img" src="{{url_for('static', filename = 'profile_pics/' + note.author.image_file)}}">
              {{note.author.username}}</td>
            <td>{{note.date.strftime('%Y-%m-%d')}}</td>
            <td>
                <!-- Show only the first 10 characters of note.text -->
                <a type="button" data-bs-toggle="modal" class="btn-link" data-bs-target="#exampleModal{{ note.id }}">{{ note.text[:10] }}...</a>
                
                <!-- Modal for displaying full note text -->
                <div class="modal fade" id="exampleModal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{ note.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="noteModalLabel{{ note.id }}">Note Text</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>{{ note.text }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary"><a href="{{url_for('notes.note', note_id=note.id)}}" style="text-decoration: none; color: white">Open</a></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
            <td>
              <button type="button" data-bs-toggle="modal" data-bs-target="#editModal{{ note.id }}" class="btn-primary btn-sm btn">Edit</button>
              <!-- Edit Notes Modal -->
              <div class="modal fade" id="editModal{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{ note.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="noteModalLabel{{ note.id }}">Note Text</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post" action="{{url_for('notes.edit_note')}}">
                        <div class="form-group">
                          <textarea name="edit_note" id="edit_note" class="form-control w-100 my-4" placeholder="Reorganize your thoughts" style="height: 100px;">{{note.text}}</textarea>
                        </div>
                        <input type="hidden" name="noteId" value="{{note.id}}">
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>            
            <td>
              <button type="button" class="btn-danger btn-sm btn" aria-label="Close" data-bs-toggle="modal" data-bs-target="#deleteModal{{note.id}}">Delete</button>
              <!-- Delete Modal -->
              <div class="modal fade" id="deleteModal{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{note.id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="noteModalLabel{{ note.id }}">Delete Note?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p><span class="fw-bold">Delete the note: </span>{{note.text[:20]}}...</p>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn-danger btn-sm btn" aria-label="Close" onClick="deleteNote({{note.id}})">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
      <h1>No notes here</h1>
      {% endif %}
      <!-- Display pagination links -->
      <div class="col-12">
        <div class="pagination">
          {% if notes.has_prev %}
              <a href="{{ url_for('main.home', page=notes.prev_num) }}" class="page-link">&laquo; Previous</a>
          {% else %}
              <span class="btn btn-outline-info page-link disabled">&laquo; Previous</span>
          {% endif %}
  
          {% for num in notes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if num %}
                  {% if notes.page == num %}
                      <span class="page-link active">{{ num }}</span>
                  {% else %}
                      <a href="{{ url_for('main.home', page=num) }}" class="btn btn-outline-info page-link">{{ num }}</a>
                  {% endif %}
              {% else %}
                  <span class="btn btn-outline-info page-link">...</span>
              {% endif %}
          {% endfor %}
  
          {% if notes.has_next %}
              <a href="{{ url_for('main.home', page=notes.next_num) }}" class="btn btn-outline-info page-link">Next &raquo;</a>
          {% else %}
              <span class="btn btn-outline-info page-link disabled">Next &raquo;</span>
          {% endif %}
        </div>
      <div>
</div>
{% endblock content%}